{% extends 'base.html' %}

{% block title%}About Me{% endblock title %}
{% load static %}
{% block content %}

<section class="about-section center-row">
    <div class="about-image-container center-row">
        <img src="{% static './img/preview.webp' %}" alt="">
    </div>

    <div class="about-description-container center-column">
        <h1>My Role as a Developer</h1>
        <h2>Blake Turner</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente distinctio odio fugiat facere quis iste exercitationem architecto, sunt assumenda minus delectus deserunt, eos quia a voluptatibus numquam eius incidunt tempore laborum ex autem possimus earum sequi enim! Eaque, odit aut. Harum ipsam blanditiis voluptate reprehenderit. Amet perspiciatis in incidunt magni dicta corporis quae laboriosam cum aliquid, totam fuga quo voluptas voluptatibus pariatur ratione voluptatem, aliquam at delectus voluptatum. Adipisci facilis vel exercitationem dolores dolore nulla consequatur iusto porro! Ducimus, praesentium!
            <br><br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate exercitationem rem quae, cumque vel neque ex delectus ad aperiam iusto, facilis blanditiis ipsum. Quam temporibus optio, consequuntur nulla voluptatum illum labore ipsa, similique voluptas inventore, quod eius deserunt quasi. Totam voluptas rem quam earum, saepe dolorem enim vero numquam, neque nostrum exercitationem a aliquam perferendis corrupti molestias consequatur temporibus nam minima sit mollitia fugit, vitae voluptates? Quia, distinctio.
        </p>

        <div class="skills-container center-column">
        <h2>My Skills</h2>
            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>

            </div>
        </div>

    </div>

    

</section>

{% endblock content %}